name: Checks

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "*"

jobs:
  format:
    name: Check formatting
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
      - name: Use Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Check formatting
        run: cargo fmt --check

  lint:
    name: Run linting
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
      - name: Use Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Run linting
        run: cargo clippy --locked --no-deps -- --deny warnings

  check-build:
    name: Check build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
      - name: Use Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Run build check
        run: cargo check --locked

  run-tests:
    # We had a couple of situations where tests got deadlocked because of bugs in async code.
    # In order to avoid that we use '--ensure-time' option for tests.
    # That's why we have to run tests with nightly toolchain
    name: Run tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          default: true
      - name: Use Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Run tests
        env:
          RUST_TEST_TIME_UNIT: "10000,60000"
        run: cargo +nightly test --locked -- -Z unstable-options --ensure-time
